.menu
	.menu_wrapper
		button.menu_opener
			.menu_main
				.menu_burger
					span
		ul.menu_items
			li.menu_item
				a(href="#intro", name="Home").menu_btn.active
					i.menu_icon(name="Home")
						svg
							use(xlink:href="#home")
			li.menu_item
				a(href="#projects", name="Projects").menu_btn
					i.menu_icon(name="Projects")
						svg
							use(xlink:href="#work")
			li.menu_item
				a(href="#skills", name="Skills").menu_btn
					i.menu_icon(name="Skills")
						svg
							use(xlink:href="#person")
			li.menu_item
				a(href="#contact", name="Contact").menu_btn
					i.menu_icon(name="Contact")
						svg
							use(xlink:href="#envelope")